{% extends 'base.html' %}

{% block title %}vacancies{% endblock %}
{% block name %}Список Вакансий{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Фильтровать</button>
    </form>
    {% for val in vacancies %}
        <p><a href="{% url 'vacancy' val.id %}" class="vote-button">Вакансия {{ forloop.counter }} - {{ val.name }}</a></p>
    {% empty %}
    <div>
        <p>No vacancies entries found.</p>
    </div>
    {% endfor %}
{% endblock %}

