<nav>
    <ul>
        <li><a href="{% url 'index'%}" class="vote-button">Главная</a></li>
        <li><a href="{% url 'signup'%}" class="vote-button">Регистрация</a></li>
        <li><a href="{% url 'login'%}" class="vote-button">Авторизация</a></li>
        <li><a href="{% url 'create_resume'%}" class="vote-button">Создать Резюме</a></li>
        <li><a href="{% url 'my_resume'%}" class="vote-button">Мои Резюме</a></li>
        <li><a href="{% url 'list_resumes'%}" class="vote-button">Список Резюме</a></li>
        <li><a href="{% url 'list_vacancies'%}" class="vote-button">Список Вакансий</a></li>
        <li><a href="{% url 'favorites_vacancies'%}" class="vote-button">Избранные Вакансии</a></li>
        <li><a href="{% url 'logout'%}" class="vote-button">Выйти</a></li>
    </ul>
</nav>